In [4]:
print("Welcome TO MAcbook Air")

Welcome TO MAcbook Air

In [5]:
import pandas as pd
original_dataset=pd.read_csv("/Users/karanbudhaair/Downloads/tiktok_dataset.csv")
original_dataset

,#,claim_status,video_id,video_duration_sec,video_transcription_text,verified_status,author_ban_status,video_view_count,video_like_count,video_share_count,video_download_count,video_comment_count
0,1,claim,7017666017,59,someone shared with me that drone deliveries a...,not verified,under review,343296.0,19425.0,241.0,1.0,0.0
1,2,claim,4014381136,32,someone shared with me that there are more mic...,not verified,active,140877.0,77355.0,19034.0,1161.0,684.0
2,3,claim,9859838091,31,someone shared with me that american industria...,not verified,active,902185.0,97690.0,2858.0,833.0,329.0
3,4,claim,1866847991,25,someone shared with me that the metro of st. p...,not verified,active,437506.0,239954.0,34812.0,1234.0,584.0
4,5,claim,7105231098,19,someone shared with me that the number of busi...,not verified,active,56167.0,34987.0,4110.0,547.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19377,19378,NaN,7578226840,21,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19378,19379,NaN,6079236179,53,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19379,19380,NaN,2565539685,10,NaN,verified,under review,NaN,NaN,NaN,NaN,NaN
19380,19381,NaN,2969178540,24,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN
19381,19382,NaN,8132759688,13,NaN,not verified,active,NaN,NaN,NaN,NaN,NaN

In [6]:
original_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19382 entries, 0 to 19381
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   #                         19382 non-null  int64
 1   claim_status              19084 non-null  object
 2   video_id                  19382 non-null  int64
 3   video_duration_sec        19382 non-null  int64
 4   video_transcription_text  19084 non-null  object
 5   verified_status           19382 non-null  object
 6   author_ban_status         19382 non-null  object
 7   video_view_count          19084 non-null  float64
 8   video_like_count          19084 non-null  float64
 9   video_share_count         19084 non-null  float64
 10  video_download_count      19084 non-null  float64
 11  video_comment_count       19084 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 1.8+ MB

In [43]:
import json
with open("/Users/karanbudhaair/Downloads/trending.json", "r") as file:
    trending_file=json.load(file)
#data_frame=pd.DataFrame(trending_file)
print(trending_file.keys())

data_frame=pd.DataFrame({"Name":"Karan","age":[23]})
print(data_frame)

dict_keys(['headers', 'collector', 'zip'])
    Name  age
0  Karan   23

In [44]:
my_dict={"Name":"Karan","age":[23]}
my_dict

{'Name': 'Karan', 'age': [23]}

In [52]:
my_dict[["Name",'age']]

TypeError: unhashable type: 'list'

In [50]:
trending_file[]

'trend'

## How do we access more than one key from a dictionary? What is unhasbale error?

# Hashable means changebale where the keys in dictionary should be unchangable i.e unhashable like int, float